/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 19, 2014, 9:48:25 AM
    Author     : Zura
*/
/* line 49, C:\xampp\htdocs\Exert\less\exert.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Exert\/less\/exert\.less}line{font-family:\0000349}}
.exert.modal .modal-header {
  padding-bottom: 8px;
  padding-top: 8px;
  color: #eeeeee;
}
/* line 53, C:\xampp\htdocs\Exert\less\exert.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Exert\/less\/exert\.less}line{font-family:\0000353}}
.exert.modal .modal-header h1,
.exert.modal .modal-header h2,
.exert.modal .modal-header h3,
.exert.modal .modal-header h4,
.exert.modal .modal-header h5,
.exert.modal .modal-header h6 {
  margin-bottom: 2px;
  margin-top: 2px;
}
/* line 59, C:\xampp\htdocs\Exert\less\exert.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Exert\/less\/exert\.less}line{font-family:\0000359}}
.exert.modal.modal-error .modal-header {
  background-color: #d2322d;
}
/* line 64, C:\xampp\htdocs\Exert\less\exert.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Exert\/less\/exert\.less}line{font-family:\0000364}}
.exert.modal.modal-success .modal-header {
  background-color: #63bf68;
}
/* line 69, C:\xampp\htdocs\Exert\less\exert.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Exert\/less\/exert\.less}line{font-family:\0000369}}
.exert.modal.zoom-in .modal-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
/* line 77, C:\xampp\htdocs\Exert\less\exert.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Exert\/less\/exert\.less}line{font-family:\0000377}}
.exert.modal.zoom-in.in .modal-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
/* line 84, C:\xampp\htdocs\Exert\less\exert.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Exert\/less\/exert\.less}line{font-family:\0000384}}
.exert.modal.slide-from-right .modal-content {
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  opacity: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  -moz-transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
/* line 91, C:\xampp\htdocs\Exert\less\exert.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Exert\/less\/exert\.less}line{font-family:\0000391}}
.exert.modal.slide-from-right.in .modal-content {
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
  opacity: 1;
}
/* line 101, C:\xampp\htdocs\Exert\less\exert.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Exert\/less\/exert\.less}line{font-family:\00003101}}
button.btn.btn-mari {
  background-color: #bd64c1;
  color: #ffffff;
}
/* line 104, C:\xampp\htdocs\Exert\less\exert.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Exert\/less\/exert\.less}line{font-family:\00003104}}
button.btn.btn-mari:hover {
  background-color: #97509b;
}
/* line 108, C:\xampp\htdocs\Exert\less\exert.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Exert\/less\/exert\.less}line{font-family:\00003108}}
button.btn.btn-inverse {
  background-color: #565656;
  color: #ffffff;
}
/* line 111, C:\xampp\htdocs\Exert\less\exert.less */
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/Exert\/less\/exert\.less}line{font-family:\00003111}}
button.btn.btn-inverse:hover {
  background-color: #343434;
}
/*
.exert.modal.modal-error{
    .modal-header{
        padding-bottom: 7px;
        padding-top: 7px;
        color: white;
        background-color: #d2322d;
    }
}

.modal .modal-header.modal-header-confirm{
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
    background-color: #333333;
}


.modal .modal-footer.modal-footer-error{
    padding: 7px;
    text-align: center;
}

.modal .modal-footer.modal-footer-error a,
.modal .modal-footer.modal-footer-error button{
    padding-left: 30px;
    padding-right: 30px;
}

.modal .modal-header.modal-header-info{
    padding-bottom: 7px;
    padding-top: 7px;
    color: #3a87ad;
    background-color: #eeeeee;
}
.modal .modal-footer.modal-footer-info{
    padding: 7px;
    text-align: center;
}

.modal .modal-footer.modal-footer-info a,
.modal .modal-footer.modal-footer-info button{
    padding-left: 30px;
    padding-right: 30px;
}*/
