/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Mar 19, 2014, 9:48:25 AM
    Author     : Zura
*/


@color-error        : #d2322d;
@color-success      : #63bf68;
@padding-medium     : 8px;
@margin-small       : 2px;
@gray-lighter       : lighten(#000, 93.5%);


.translate-x(@size: 0){
    -webkit-transform: translateX(@size);
    -moz-transform: translateX(@size);
    -ms-transform: translateX(@size);
    transform: translateX(@size);
}

.scale(@sc: 1){
    -webkit-transform: scale(@sc);
    -moz-transform: scale(@sc);
    -ms-transform: scale(@sc);
    transform: scale(@sc);
}

.cubic-bezier-transition(@prop: all; @time: 1s; @bez){
    -webkit-transition: @prop @time cubic-bezier(@bez);
    -moz-transition: @prop @time cubic-bezier(@bez);
    transition: @prop @time cubic-bezier(@bez);
}

.exert.modal{
    .modal-header{
        padding-bottom: @padding-medium;
        padding-top: @padding-medium;
        color: @gray-lighter;
        h1, h2, h3, h4, h5, h6{
            margin-bottom   : @margin-small;
            margin-top      : @margin-small;
        }
    }
    &.modal-error{
        .modal-header{
            background-color: @color-error;
        }
    }
    &.modal-success{
        .modal-header{
            background-color: @color-success;
        }
    }
    &.zoom-in{
        .modal-content{ 
            .scale(0.7);
            opacity: 0;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        &.in{
            .modal-content{ 
                .scale();
                opacity: 1;
            }
        }
    }
    &.slide-from-right{
        .modal-content{
            .translate-x(20%);
            opacity: 0;
            .cubic-bezier-transition(@prop: all; @time: 0.3s; @bez: 0.25, 0.5, 0.5, 0.9);
            
        }
        &.in{
            .modal-content{ 
                .translate-x();
                opacity: 1;
            }
        }
    }
}


button.btn{
    &.btn-mari{
        background-color: #bd64c1;
        color: #ffffff;
        &:hover{
            background-color: #97509b;
        }
    }
    &.btn-inverse{
        background-color: #565656;
        color: #ffffff;
        &:hover{
            background-color: #565656 - #222;
        }
    }
}
/*
.exert.modal.modal-error{
    .modal-header{
        padding-bottom: 7px;
        padding-top: 7px;
        color: white;
        background-color: #d2322d;
    }
}

.modal .modal-header.modal-header-confirm{
    padding-bottom: 7px;
    padding-top: 7px;
    color: white;
    background-color: #333333;
}


.modal .modal-footer.modal-footer-error{
    padding: 7px;
    text-align: center;
}

.modal .modal-footer.modal-footer-error a,
.modal .modal-footer.modal-footer-error button{
    padding-left: 30px;
    padding-right: 30px;
}

.modal .modal-header.modal-header-info{
    padding-bottom: 7px;
    padding-top: 7px;
    color: #3a87ad;
    background-color: #eeeeee;
}
.modal .modal-footer.modal-footer-info{
    padding: 7px;
    text-align: center;
}

.modal .modal-footer.modal-footer-info a,
.modal .modal-footer.modal-footer-info button{
    padding-left: 30px;
    padding-right: 30px;
}*/
