/* 
    Created on : Mar 19, 2014, 9:48:25 AM
    Author     : Zura
*/
@import "mixins";


@color-error                            : #d2322d;
@color-success                          : #63bf68;
@color-warning                          : #d37700;
@color-info                             : #428bca;
@color-confirm                          : #3C2D2D;
@padding-medium                         : 8px;
@margin-small                           : 2px;
@gray-lighter                           : lighten(#000, 93.5%);
@very-light                             : #FFFFFF;


@header-border-radius                   : 4px;
@header-font-size                       : 16px;

@footer-border-radius                   : 4px;
@footer-padding                         : 10px;

@confirm-header-font-size               : 20px;

.cubic-bezier-transition(@prop: all; @time: 1s; @bez){
    -webkit-transition: @prop @time cubic-bezier(@bez);
    -moz-transition: @prop @time cubic-bezier(@bez);
    transition: @prop @time cubic-bezier(@bez);
}

body{
    &.modal-open{
        .container{
            .filter(blur(3px));
        }
    }
}

.modal-backdrop{
    &.in{
        background: rgba(0, 0, 0, 0.5);
    }
}

.modal.exert-modal{
    .modal-dialog{
        margin: auto;
        .modal-content{
            .modal-header{
                font-size: @header-font-size;
                border-top-left-radius: @header-border-radius;
                border-top-right-radius: @header-border-radius;
                padding-bottom: @padding-medium;
                padding-top: @padding-medium;
                color: @gray-lighter;
                h1, h2, h3, h4, h5, h6{
                    margin-bottom   : @margin-small;
                    margin-top      : @margin-small;
                }
            }
            .modal-footer{
                border-bottom-left-radius: @footer-border-radius;
                border-bottom-right-radius: @footer-border-radius;
                padding: @footer-padding;
                margin-top: 0;
                &.text-center{
                    text-align: center;
                }
                &.text-left{
                    text-align: left;
                }
                &.text-right{
                    text-align: right;
                }
            }
        }
    }
    &.error{
        .modal-header{
            background-color: @color-error;
        }
    }
    &.success{
        .modal-header{
            background-color: @color-success;
        }
    }
    &.confirm{
        .modal-header{
            font-size: @confirm-header-font-size !important;
            background-color: @color-confirm;
        }
        .modal-footer{
            background-color: lighten(@color-confirm, 10%);
        }
    }
    &.zoom-in{
        .modal-content{ 
            .scale(0.7);
            opacity: 0;
            .transition(all 0.5s); 
        }
        &.in{
            .modal-content{ 
                .scale(1);
                opacity: 1;
            }
        }
    }
    &.slide-from-right{
        .modal-content{
            .translateX(20%);
            opacity: 0;
            .transition(all 0.5s);
            
        }
        &.in{
            .modal-content{ 
                .translateX(0%);
                opacity: 1;
            }
        }
    }
    &.blur{
        .modal-dialog{
            .modal-content{
                .translateY(-15%);
                opacity: 0;
                .transition(all 0.5s);
            }
        }
        &.in{
            .modal-dialog{
                .modal-content{
                    .translateY(0%);
                    opacity: 1;
                }
            }
        }
    }
}

.exert.notify-outer{
    position: fixed;
    z-index: 100;
    border-radius: 3px;
    border-style: ridge;
    border-width: 1px;
    .alert{
        margin-bottom: 0;
        padding: 13px;
        color: @very-light;
        display: none;
        &:hover{
            color: @gray-lighter;
        }
        &.alert-danger{
            background-color: @color-error;
        }
        &.alert-success{
            background-color: @color-success;
        }
        &.alert-warning{
            background-color: @color-warning;
        }
        &.alert-info{
            background-color: @color-info;
        }
        
        .icon-notify{
            width: 30px;
            .glyphicon{
                text-align: center;
                font-size: 35px;
            }
        }

        .remove-paddings(@i: 1) when (@i =< 12) {
            .col-xs-@{i} {
                padding-left: 3px;
                padding-right: 3px;
            }
            .remove-paddings(@i+1);
        }
        .remove-paddings(1);
    }
}

.exert{
    &.notify-outer-lg{
        ul>li{ 
            a{
                &.alert{
                    &:extend(.exert.notify-outer .alert all);
                    display: block;
                    padding: 3px;
                    padding-left: 6px;
                    padding-right: 6px;
                }
            }
        }
        &:extend(.exert.notify-outer);
        border: none;
        .alert{
            &:extend(.exert.notify-outer .alert all);
            &.active{
                display: block;
            }
            &.tab-pane{
                margin-left: 0;
                margin-right: 0;
                .notify-image{
                    img{
                        width: 90px;
                        height: 100px;
                    }
                }
            }
        }
        
    }
}

