/* 
    Created on : Sep 19, 2014, 1:47:04 PM
    Author     : Zura
*/


body{
    &.exert-open{
        >*{
            &:not(.exert-modal){
                .filter(blur(3px));
            }
        }
    }
}

.modal-backdrop{
    &.in{
        background: rgba(0, 0, 0, 0.5);
    }
}

/*.exert-modal{
    .modal-dialog{
        margin: auto;
        .modal-content{
            .modal-header{
                font-size: @header-font-size;
                border-top-left-radius: @header-border-radius;
                border-top-right-radius: @header-border-radius;
                padding-bottom: @padding-medium;
                padding-top: @padding-medium;
                color: @gray-lighter;
                h1, h2, h3, h4, h5, h6{
                    margin-bottom   : @margin-small;
                    margin-top      : @margin-small;
                }
            }
            .modal-footer{
                border-bottom-left-radius: @footer-border-radius;
                border-bottom-right-radius: @footer-border-radius;
                padding: @footer-padding;
                margin-top: 0;
                &.text-center{
                    text-align: center;
                }
                &.text-left{
                    text-align: left;
                }
                &.text-right{
                    text-align: right;
                }
            }
        }
    }
    &.exert-error{
        .modal-header{
            background-color: @color-error;
        }
    }
    &.exert-info{
        .modal-header{
            background-color: @color-info;
        }
    }
    &.exert-success{
        .modal-header{
            background-color: @color-success;
        }
    }
    &.exert-warning{
        .modal-header{
            background-color: @color-warning;
        }
    }
    &.exert-confirm{
        .modal-header{
            font-size: @confirm-header-font-size !important;
            background-color: @color-confirm;
        }
        .modal-footer{
            background-color: lighten(@color-confirm, 10%);
        }
    }
    &.zoom-in{
        .modal-content{ 
            .scale(0.7);
            opacity: 0;
            .transition(all 0.5s); 
        }
        &.in{
            .modal-content{ 
                .scale(1);
                opacity: 1;
            }
        }
    }
    &.slide-from-right{
        .modal-content{
            .translateX(20%);
            opacity: 0;
            .transition(all 0.5s);
            
        }
        &.in{
            .modal-content{ 
                .translateX(0%);
                opacity: 1;
            }
        }
    }
    &.blur{
        .modal-dialog{
            .modal-content{
                .translateY(-15%);
                opacity: 0;
                .transition(all 0.5s);
            }
        }
        &.in{
            .modal-dialog{
                .modal-content{
                    .translateY(0%);
                    opacity: 1;
                }
            }
        }
    }
}*/
//------------------------------------------------------------------------------
.exert-modal{
    position: absolute;
    z-index: 2001;
    background-color: @very-light;
    border-top-left-radius: @header-border-radius;
    border-top-right-radius: @header-border-radius;
    border-bottom-left-radius: @footer-border-radius;
    border-bottom-right-radius: @footer-border-radius;
    .exert-modal-header{
        font-size: @header-font-size;
        border-top-left-radius: @header-border-radius;
        border-top-right-radius: @header-border-radius;
        padding: @header-padding;
        background-color: @gray-lighter;
        color: @very-dark;
        .exert-modal-title{
            font-size: @modal-title-font-size;
        }
        .btn-close{
            float: right;
            background-color: transparent;
            cursor: pointer;
            border: none;
            outline: 0;
            color: @modal-close-btn-color;
            font-weight: bold;
            font-size: @modal-close-btn-font-size;
            margin-top: @modal-close-btn-margin-top;
            margin-right: @modal-close-btn-margin-right;
            &:hover{
                color: darken(@modal-close-btn-color, 20%);
            }
        }
/*        h1, h2, h3, h4, h5, h6{
            margin-bottom   : @margin-small;
            margin-top      : @margin-small;
        }*/
    }
    .exert-modal-body{
        border-left: 1px solid #e0e0e0;
        border-right: 1px solid #e0e0e0;
        padding: @modal-body-padding;
    }
    .exert-modal-footer{
        text-align: center;
        height: @footer-height;
        border-bottom-left-radius: @footer-border-radius;
        border-bottom-right-radius: @footer-border-radius;
        padding: @footer-padding;
        background-color: @gray-lighter;
        margin-top: 0;
        &.text-center{
            text-align: center;
        }
        &.text-left{
            text-align: left;
        }
        &.text-right{
            text-align: right;
        }
    }
    &.exert-confirm{
        .exert-modal-header{
            color: @gray-lighter;
            background-color: @color-confirm;
        }
        .exert-modal-body{
            padding: 20px;
        }
        .exert-modal-footer{
            background-color: lighten(@color-confirm, 10%);
        }
    }
    &.exert-success{
        .exert-modal-header{
            color: @gray-lighter;
            background-color: #29B87E;
        }
        .exert-modal-body{
            border-left: 1px solid #29B87E;
            border-right: 1px solid #29B87E;
        }
        .exert-modal-footer{
            background-color: lighten(#29B87E, 10%);
        }
    }
    &.exert-error{
        .exert-modal-header{
            color: @gray-lighter;
            background-color: #CA2121;
        }
        .exert-modal-body{
            border-left: 1px solid #CA2121;
            border-right: 1px solid #CA2121;
        }
        .exert-modal-footer{
            background-color: lighten(#CA2121, 10%);
        }
    }
    &.exert-info{
        .exert-modal-header{
            color: @gray-lighter;
            background-color: #2E79B4;
        }
        .exert-modal-body{
            border-left: 1px solid #2E79B4;
            border-right: 1px solid #2E79B4;
        }
        .exert-modal-footer{
            background-color: lighten(#2E79B4, 10%);
        }
    }
    &.exert-warning{
        .exert-modal-header{
            color: @gray-lighter;
            background-color: #CE812E;
        }
        .exert-modal-body{
            border-left: 1px solid #CE812E;
            border-right: 1px solid #CE812E;
        }
        .exert-modal-footer{
            background-color: lighten(#CE812E, 10%);
        }
    }
    &.draggable{
        .exert-modal-header{
            cursor: move;
        }
    }
    
    .exert-btn{
        display: inline-block;
        padding: 4px 10px;
        margin-bottom: 0;
        font-size: 14px;
        font-weight: 400;
        line-height: 1.42857143;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
        outline: 0;
        &.exert-btn-cancel{
            .button-variant(#FFF, #c92b2b, darken(#c92b2b, 5%));
        }
        &.exert-btn-success{
            .button-variant(#FFF, #00cc8f, darken(#00cc8f, 5%));
        }
        &.exert-btn-no{
            .button-variant(#FFF, #0760B3, darken(#0760B3, 5%));
        }
    }
}

.exert-backdrop{
    position: absolute;
    z-index: 2000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}