/* 
    Created on : Sep 19, 2014, 1:47:13 PM
    Author     : Zura
*/

@color-error                            : #d2322d;
@color-success                          : #63bf68;
@color-warning                          : #d37700;
@color-info                             : #428bca;
@color-confirm                          : #3C2D2D;

/*@padding-medium                         : 8px;*/
/*@margin-small                           : 2px;*/

@gray-lighter                           : lighten(#000, 93.5%);
@very-light                             : #FFFFFF;
@very-dark                              : #000;

@modal-body-padding                     : 10px;
@modal-close-btn-color                  : fadeout(#1c1c1c, 60%);
@modal-close-btn-font-size              : 20px;
@modal-close-btn-margin-top             : -5px;
@modal-close-btn-margin-right           : -5px;
@modal-title-font-size                  : 24px;

@header-border-radius                   : 4px;
@header-font-size                       : 16px;
@header-padding                         : 7px 10px;

@footer-border-radius                   : 4px;
@footer-padding                         : 6px;
@footer-height                          : 44px;

//Variables for notify
@notify-wrapper-offset-top              : 10px;
@notify-wrapper-offset-left             : 10px;
@notify-wrapper-offset-right            : 10px;
@notify-wrapper-offset-bottom           : 10px;

@notify-padding                         : 10px;
@notify-icon-font-size                  : 30px;
@notify-icon-margin                     : 9px;
@notify-margin                          : 7px;
@notify-font-family                     : 'Arial Rounded MT Bold';
@notify-title-font-size                 : 20px;

@notify-border-radius                   : 3px;
@notify-msg-margin-left                 : 50px;
@notify-box-shadow                      : 3px 3px 5px #aaa;
