/*
    Created on : Sep 19, 2014, 2:01:43 PM
    Author     : @arboshiki
*/

.lobibox-notify-wrapper{
    z-index: 5000;
    position: fixed;
    &.top{
        top: @lobibox-notify-wrapper-offset-top;
    }
    &.bottom{
        bottom: @lobibox-notify-wrapper-offset-bottom;
    }
    &.left{
        left: @lobibox-notify-wrapper-offset-left;
    }
    &.right{
        right: @lobibox-notify-wrapper-offset-right;
    }
    .lobibox-notify{
        margin-bottom: 7px;
        border-radius: @lobibox-notify-border-radius;
        position: relative;
        color: #fff;
        opacity: 0.9;
        border: 1px solid transparent;
        .transition(0.1s all linear); 
        .box-shadow(@lobibox-notify-box-shadow);
        .lobibox-notify-icon{
            position: absolute;
            left: 20px;
            top: 10px;
            font-size: @lobibox-notify-icon-font-size;
        }
        .lobibox-notify-title{
            font-size: @lobibox-notify-title-font-size;
        }
        .lobibox-notify-body{
            margin: 10px 20px 10px 100px;
        }
        .lobibox-close{
            position: absolute;
            right: 10px;
            top: 5px;
            font-size: 16px;
            color: #fff;
            &:hover{
                font-weight: bold;
                color: #000;
                opacity: 0.4;
            }
        }
        .lobibox-delay-indicator{
            position: absolute;
            left: 0;
            right: 0;
            bottom: -1px;
            height: 5px;
            >div{
                position: relative;
                height: 5px;
                width: 0%;
            }
        }
        &:hover{
            cursor: pointer;
            opacity: 1;
        }
        &.lobibox-notify-error{
            background-color: @brand-danger;
            .lobibox-delay-indicator{
                >div{
                    background-color: darken(@brand-danger, 15%);
                }
            }
        }
        &.lobibox-notify-success{
            background-color: @brand-success;
            .lobibox-delay-indicator{
                >div{
                    background-color: darken(@brand-success, 15%);
                }
            }
        }
        &.lobibox-notify-warning{
            background-color: @brand-warning;
            .lobibox-delay-indicator{
                >div{
                    background-color: darken(@brand-warning, 15%);
                }
            }
        }
        &.lobibox-notify-info{
            background-color: @brand-info;
            .lobibox-delay-indicator{
                >div{
                    background-color: darken(@brand-info, 15%);
                }
            }
        }
    }
}