/* 
    Created on : Mar 19, 2014, 9:48:25 AM
    Author     : Zura
*/
body.modal-open .container {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
}
.modal-backdrop.in {
  background: rgba(0, 0, 0, 0.5);
}
.modal.exert-modal .modal-dialog {
  margin: auto;
}
.modal.exert-modal .modal-dialog .modal-content .modal-header {
  font-size: 16px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding-bottom: 8px;
  padding-top: 8px;
  color: #eeeeee;
}
.modal.exert-modal .modal-dialog .modal-content .modal-header h1,
.modal.exert-modal .modal-dialog .modal-content .modal-header h2,
.modal.exert-modal .modal-dialog .modal-content .modal-header h3,
.modal.exert-modal .modal-dialog .modal-content .modal-header h4,
.modal.exert-modal .modal-dialog .modal-content .modal-header h5,
.modal.exert-modal .modal-dialog .modal-content .modal-header h6 {
  margin-bottom: 2px;
  margin-top: 2px;
}
.modal.exert-modal .modal-dialog .modal-content .modal-footer {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  padding: 10px;
  margin-top: 0;
}
.modal.exert-modal .modal-dialog .modal-content .modal-footer.text-center {
  text-align: center;
}
.modal.exert-modal .modal-dialog .modal-content .modal-footer.text-left {
  text-align: left;
}
.modal.exert-modal .modal-dialog .modal-content .modal-footer.text-right {
  text-align: right;
}
.modal.exert-modal.error .modal-header {
  background-color: #d2322d;
}
.modal.exert-modal.success .modal-header {
  background-color: #63bf68;
}
.modal.exert-modal.confirm .modal-header {
  font-size: 20px !important;
  background-color: #3c2d2d;
}
.modal.exert-modal.confirm .modal-footer {
  background-color: #594343;
}
.modal.exert-modal.zoom-in .modal-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.modal.exert-modal.zoom-in.in .modal-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1;
}
.modal.exert-modal.slide-from-right .modal-content {
  -webkit-transform: translateX(20%);
  -moz-transform: translateX(20%);
  -ms-transform: translateX(20%);
  transform: translateX(20%);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.modal.exert-modal.slide-from-right.in .modal-content {
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  transform: translateX(0%);
  opacity: 1;
}
.modal.exert-modal.blur .modal-dialog .modal-content {
  -webkit-transform: translateY(-15%);
  -moz-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  transform: translateY(-15%);
  opacity: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}
.modal.exert-modal.blur.in .modal-dialog .modal-content {
  -webkit-transform: translateY(0%);
  -moz-transform: translateY(0%);
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  opacity: 1;
}
.exert.notify-outer,
.exert.notify-outer-lg {
  position: fixed;
  z-index: 100;
  border-radius: 3px;
  border-style: ridge;
  border-width: 1px;
}
.exert.notify-outer .alert,
.exert.notify-outer-lg ul > li a.alert,
.exert.notify-outer-lg .alert {
  margin-bottom: 0;
  padding: 13px;
  color: #ffffff;
  display: none;
}
.exert.notify-outer .alert:hover,
.exert.notify-outer-lg ul > li a.alert:hover,
.exert.notify-outer-lg .alert:hover {
  color: #eeeeee;
}
.exert.notify-outer .alert.alert-danger,
.exert.notify-outer-lg ul > li a.alert.alert-danger,
.exert.notify-outer-lg .alert.alert-danger {
  background-color: #d2322d;
}
.exert.notify-outer .alert.alert-success,
.exert.notify-outer-lg ul > li a.alert.alert-success,
.exert.notify-outer-lg .alert.alert-success {
  background-color: #63bf68;
}
.exert.notify-outer .alert.alert-warning,
.exert.notify-outer-lg ul > li a.alert.alert-warning,
.exert.notify-outer-lg .alert.alert-warning {
  background-color: #d37700;
}
.exert.notify-outer .alert.alert-info,
.exert.notify-outer-lg ul > li a.alert.alert-info,
.exert.notify-outer-lg .alert.alert-info {
  background-color: #428bca;
}
.exert.notify-outer .alert .icon-notify,
.exert.notify-outer-lg ul > li a.alert .icon-notify,
.exert.notify-outer-lg .alert .icon-notify {
  width: 30px;
}
.exert.notify-outer .alert .icon-notify .glyphicon,
.exert.notify-outer-lg ul > li a.alert .icon-notify .glyphicon,
.exert.notify-outer-lg .alert .icon-notify .glyphicon {
  text-align: center;
  font-size: 35px;
}
.exert.notify-outer .alert .col-xs-1,
.exert.notify-outer-lg ul > li a.alert .col-xs-1,
.exert.notify-outer-lg .alert .col-xs-1 {
  padding-left: 3px;
  padding-right: 3px;
}
.exert.notify-outer .alert .col-xs-2,
.exert.notify-outer-lg ul > li a.alert .col-xs-2,
.exert.notify-outer-lg .alert .col-xs-2 {
  padding-left: 3px;
  padding-right: 3px;
}
.exert.notify-outer .alert .col-xs-3,
.exert.notify-outer-lg ul > li a.alert .col-xs-3,
.exert.notify-outer-lg .alert .col-xs-3 {
  padding-left: 3px;
  padding-right: 3px;
}
.exert.notify-outer .alert .col-xs-4,
.exert.notify-outer-lg ul > li a.alert .col-xs-4,
.exert.notify-outer-lg .alert .col-xs-4 {
  padding-left: 3px;
  padding-right: 3px;
}
.exert.notify-outer .alert .col-xs-5,
.exert.notify-outer-lg ul > li a.alert .col-xs-5,
.exert.notify-outer-lg .alert .col-xs-5 {
  padding-left: 3px;
  padding-right: 3px;
}
.exert.notify-outer .alert .col-xs-6,
.exert.notify-outer-lg ul > li a.alert .col-xs-6,
.exert.notify-outer-lg .alert .col-xs-6 {
  padding-left: 3px;
  padding-right: 3px;
}
.exert.notify-outer .alert .col-xs-7,
.exert.notify-outer-lg ul > li a.alert .col-xs-7,
.exert.notify-outer-lg .alert .col-xs-7 {
  padding-left: 3px;
  padding-right: 3px;
}
.exert.notify-outer .alert .col-xs-8,
.exert.notify-outer-lg ul > li a.alert .col-xs-8,
.exert.notify-outer-lg .alert .col-xs-8 {
  padding-left: 3px;
  padding-right: 3px;
}
.exert.notify-outer .alert .col-xs-9,
.exert.notify-outer-lg ul > li a.alert .col-xs-9,
.exert.notify-outer-lg .alert .col-xs-9 {
  padding-left: 3px;
  padding-right: 3px;
}
.exert.notify-outer .alert .col-xs-10,
.exert.notify-outer-lg ul > li a.alert .col-xs-10,
.exert.notify-outer-lg .alert .col-xs-10 {
  padding-left: 3px;
  padding-right: 3px;
}
.exert.notify-outer .alert .col-xs-11,
.exert.notify-outer-lg ul > li a.alert .col-xs-11,
.exert.notify-outer-lg .alert .col-xs-11 {
  padding-left: 3px;
  padding-right: 3px;
}
.exert.notify-outer .alert .col-xs-12,
.exert.notify-outer-lg ul > li a.alert .col-xs-12,
.exert.notify-outer-lg .alert .col-xs-12 {
  padding-left: 3px;
  padding-right: 3px;
}
.exert.notify-outer-lg {
  border: none;
}
.exert.notify-outer-lg ul > li a.alert {
  display: block;
  padding: 3px;
  padding-left: 6px;
  padding-right: 6px;
}
.exert.notify-outer-lg .alert.active {
  display: block;
}
.exert.notify-outer-lg .alert.tab-pane {
  margin-left: 0;
  margin-right: 0;
}
.exert.notify-outer-lg .alert.tab-pane .notify-image img {
  width: 90px;
  height: 100px;
}
